
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* body{
  margin: 0;
  padding: 0;
  background: #b5b5b5; 
  
}
 */
/* 
.center11 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 900px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    margin-top: 400px;
    margin-bottom: 200px;
}
.center11 h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}
.center11 form {
    padding: 0 40px;
    box-sizing: border-box;
} */

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 0.8rem;
    border: none;
    background: none;
    outline: none;
}
.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 0.8rem;
    pointer-events: none;
    transition: 0.5s;
}
.txt_field span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #00ced1;
    transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    top: -5px;
    color: #00ced1;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #00ced1;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover {
    border-color: #00ced1;
    transition: 0.5s;
}

.popUp-btn {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background-color: #d10000;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    outline: none;
    font-style: inline;
    text-align: center;
    margin-top: 45px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.popUp-btn:hover {
    border-color: #00ced1;
    transition: 0.5s;
}

.container-message {
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    margin-left: 460px;
    margin-top: 100px;
}

.red-Messages {
    color: red;
    text-align: center;
}

.green-Messages {
    color: green;
    text-align: center;
}

/* here the pop up message */

/* Set a style for all buttons */
button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.deletebtn {
    float: left;
    width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.deletebtn {
    background-color: rgb(209, 0, 0);
}

/* Add padding and center-align text to the container */
.container5656 {
    padding: 16px;
    text-align: center;
    display: block;
    margin-top: 15px;
    font-size: 14px;
    margin-left: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #dbdbdb;
    padding-top: 220px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 10);
    width: 50%;
    /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}

.loc-input {
    background-color: rgb(233, 233, 233);
    width: 250px;
    height: 40px;
    border-radius: 5px;
}

.center11 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 1200px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    padding-bottom: 50%;
    margin-top: 700px;
    margin-bottom: -450px;
}
.center11 h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}
.center11 form {
    padding: 0 40px;
    box-sizing: border-box;
}
.container{
    margin-top: 100px;
}
.message{ 
    margin-left : 500px ;
    /* padding-left: 40px;
    padding-right: 40px; */
    margin-top : 20px ;
    width: 400px;
    
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}
.red-Messages{
    color: red; 
    text-align: center;
}

.green-Messages{
    color:green;
    text-align: center;
}
